@page "/OrderList"
@using DataAccess.Models
@using Microsoft.AspNetCore.Html
@using static System.Text.Encodings.Web.HtmlEncoder;
@using System.Collections.Generic
@using System.Security.Claims
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor _httpContextAccessor
@inject Testingstuff tlist
@inherits OwningComponentBase<Testingstuff>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SurveyWebsite</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="css/AccountPages.css" rel="stylesheet" />
    <link href="SurveyWebsite.styles.css" rel="stylesheet" />
</head>
<body>
    <h1>Order List</h1>
    <hr />
    <div class="surv">
        @foreach (var survey in ViewOrder())
        {
            <div class="card mb-4">
                <div class="card-block">
                    <h4 class="card-title">
                        @survey.Item2.ToUpper()
                    @if (DateTime.Now >= survey.Item3 && DateTime.Now <= survey.Item4 && survey.Item5 == 1)
                    {
                        <a href="/TakeSurveys?Value=@survey.Item1&Title=@survey.Item2">@survey.Item2 Click to Take</a>

                    }
                    else if (survey.Item5 == 1 && DateTime.Now <= survey.Item3)
                    {

                    }
                    else if (survey.Item5 == 0 && DateTime.Now <= survey.Item3)
                    {

                    }
                    else if (survey.Item5 == 1 && DateTime.Now >= survey.Item4)
                    {
                        <a href="/SurveyResults?Value=@survey.Item1&Title=@survey.Item2">@survey.Item2 Click to View Results</a>

                    }
                    else if (survey.Item5 == 0 && DateTime.Now >= survey.Item4)
                    {
                        <a href="/QODResults?Value=@survey.Item1&Title=@survey.Item2">@survey.Item2 Click to View Results</a>
                    }
                </h4>
                <p class="card-text">
                    Start time: @survey.Item3<br />
                    End time: @survey.Item4
                </p>
            </div>
        </div><br />
    }
    </div>
</body>
</html>


@code {
    private string user = "";

    protected override void OnInitialized()
    {
        if (_httpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
        {

            user = _httpContextAccessor.HttpContext.User.FindFirst(ClaimTypes.NameIdentifier).Value;
        }


        base.OnInitialized();
    }

    public Tuple<int, string, DateTime, DateTime, int>[] ViewOrder()
    {
        return tlist.ViewOrder();
    }
}