@page "/SurveyMaker"
@using DataAccessLibrary.Models
@using System.Collections.Generic
@inherits QuestionListBase

<div>
    <h3>SurveyMaker</h3>
    <br />
    @foreach (Question question in Questions)
    {
        <h4>Question @question.ID</h4>
        <br />
        <div>

            <label>
                Question Type:
                <select @bind="question.Type" class="custom-select">
                    <option value="Select" selected disabled="disabled">(Choose Type)</option>
                    @foreach (var Type in new[] { Question.Qtypes.Multiple_Choice,
                         Question.Qtypes.Long_Text, Question.Qtypes.True_Or_False })
                    {
                        <option value="@Type">@Type.ToString().Replace("_", " ")</option>
                    }
                </select>
            </label>
            <br />

            <label>Question: </label>
            <br />
            <textarea>
                   @question.QuestionText.ToString()
            </textarea>
            <br />
            <label>Question Options:</label>
            <br />
            @if (question.Type == Question.Qtypes.Multiple_Choice)
            {
                @*@foreach (QuestionOption QO in question.QOpts)
                {
                    <label>
                        &nbsp;&nbsp;&nbsp;&nbsp; Option @QO.ID:
                        &nbsp;&nbsp;&nbsp;&nbsp;<textarea>@QO.OptionText</textarea>
                    </label>
                    <br />
                    <br />

                }*@
                <button class="btn btn-secondary" @onclick="@NewOption">Add Option</button>
            }
            else if (question.Type == Question.Qtypes.True_Or_False)
            {
                <label>
                    &nbsp;&nbsp;&nbsp;&nbsp; True:
                    &nbsp;&nbsp;&nbsp;&nbsp;<textarea> </textarea>
                </label>
                <br />
                <label>
                    &nbsp;&nbsp;&nbsp;&nbsp; False:
                    &nbsp;&nbsp;&nbsp;&nbsp;<textarea> </textarea>
                </label>
            }
            else
            {
                <label>
                    &nbsp;&nbsp;&nbsp;&nbsp;Long Answer:
                    &nbsp;&nbsp;&nbsp;&nbsp;<textarea> </textarea>
                </label>

            }
            <br />
            <br />
            <br />
        </div>
    }
    <button class="btn btn-primary" @onclick="@NewQuestion">New Question</button>
    <br />
    <br />
</div>
<br />
<br />
@code {

    private void NewOption()
    {
        
        
        
    }
    private void NewQuestion()
    {
        Questions = Questions.Concat(new[] {
            new Question
            {
                ID = Questions.Count() + 1,
                QuestionText = "",
                
            }});
    }


}